.upg {
	min-height: 120px;
	width: 120px;
	border-radius: 15px;
	border: 2px solid;
  margin: 2px;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
}

.achievement {
	height: 60px;
	width: 60px;
	border-radius: 5px;
	border: 2px solid;
  margin: 1px;
  padding: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 8px;
	color: white;
	text-shadow: 0 0 2px #000000;
}
.achievement:hover {
	box-shadow: 0 0 10px var(--points);
	z-index: 7;
}

.buyable {
	height: 200px;
	width: 200px;
	border-radius: 20px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	position:relative;
}

.milestone {
	width: 500px;
	padding: 5px;
	height: 80px;
	border: 2px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
  
	background-image: repeating-linear-gradient(-45deg, #A38484, #A38484 20px, #A18282 20px, #A18282 40px);
	color: rgba(0, 0, 0, 0.5);
  transition: all 0.7s;
}

.milestoneDone {
	width: 500px;
	padding: 5px;
	height: 80px;
	border: 2px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
  
	background-image: repeating-linear-gradient(-45deg, #8CCC76, #8CCC76 20px, #85C86E 20px, #85C86E 40px);
	color: rgba(0, 0, 0, 0.5);
}

.challenge {
	background-image: repeating-linear-gradient(-45deg, #A38484, #A38484 20px, #A18282 20px, #A18282 40px);
	position: relative;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
	width: 300px;
	height: 300px;
	font-size: 15px;
	border-radius: 15px;
  transition: all 0.5s;
}

.challenge.done {
	background-image: repeating-linear-gradient(-45deg, #8CCC76, #8CCC76 20px, #85C86E 20px, #85C86E 40px);
}

.challenge.canComplete {
	background-color: #ffbf00;
}

/* Infoboxes */
.story {
    width: 600px;
    max-width: 95%;
    border-bottom: solid 4px;
    border-radius: 8px;
    margin-bottom: 8px;
    text-align: left;
}

.story-title {
    text-align: left;
    font-size: 24px;
    color: black;
    cursor: pointer;
    border: none;
    padding: 2px;
    border-radius: 8px 8px 0 0;
}

.story-toggle {
    border: none;
    background: black;
    color: white;
    font-size: 20px;
    pointer-events: none;
    width: 1em;
    display: inline-block;
}

.story-text {
	padding: 2px;
    border: solid 4px;
    border-color: inherit;
    border-radius: inherit;
    border-top-left-radius: 0;
    margin-bottom: -2px;
}


/* Tiles are gridables */
.tile {
	height: 80px;
	width: 80px;
	border-radius: 15%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
}

.tile.can:hover {
	box-shadow: 0 0 10px var(--points);
	transform: scale(1.1, 1.1);
	z-index: 7;
}

.upgBig {
	height: 200px;
	width: 200px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

/* Used for respec button and similar */
.longUpg {
	height: 50px;
	width: 150px;
	background: var(--points);
	border-radius: 10px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 12px;
}

.smallUpg {
	height: 40px;
	width: 40px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

